@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */

body {
  font-family: "Roboto", sans-serif;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
